.el-beforeIcon::before {
  display: inline-block;
  content: "";
}

.el-beforeIcon.el-beforeIcon__calendar::before {
  width: 2.2rem;
  height: 2.2rem;
  transform: translateY(20%) translateX(-10%);
  background-image: url(../source/calender.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.el-beforeIcon.el-beforeIcon__logo::before {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../source/logo02.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .el-beforeIcon.el-beforeIcon__calendar::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-90%);
  }
}