.un-access {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  max-width: 130rem;
  margin-right: auto;
  margin-left: auto;
}
.un-access_imgWrapper {
  width: 55%;
  max-width: 65.6rem;
  min-height: 34rem;
  margin-right: 5%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.un-access_body {
  width: 40%;
  max-width: 57.8rem;
}
.un-access_ttl {
  font-weight: 800;
  line-height: 3.2rem;
  margin-bottom: .8rem;
}
.un-access_txt {
  font-weight: 500;
  line-height: 3.2rem;
  margin-bottom: .8rem;
}

@media (max-width: 768px) {
  .un-access {
    flex-direction: column;
  }
  .un-access_imgWrapper {
    width: 100%;
    min-height: auto;
    margin-bottom: 4rem;
  }
  .un-access_body {
    width: 100%;
  }
}